  <aside class="bg-dark" id="schedule">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Workshop Program</h2>
              <p>Due to the COVID-19 pandemic, this workshop has been cancelled. However, we are sharing 6 accepted papers that have been published in the <i>Companion Proceedings 10th International Conference on Learning Analytics & Knowledge (LAK20)</i> as well as recordings of serveral authors' video presentations. We look forward to convening another workshop at LAK21.</p>
              <h3>Accepted papers</h3>
              <ol class="text-left">
                <li><b>Oleksandra Poquet</b>, <i>Exploration of Peer Effects through Digital Forum Interactions</i>. <a href="file/1_Poquet.pdf">Paper</a>, Talk.</li>
                <li><b>Jun Oshima & Ritsuko Oshima</b>, <i>The Current State of Knowledge-Building Analytics and Possible Future Directions</i>. <a href="file/2_Oshima.pdf">Paper</a>, <a href="https://www.youtube.com/watch?v=Zb4LTL4bhuE">Talk</a>.</li>
                <li><b>Quan Nguyen, Warren Li, & Christopher Brooks</b>, <i>Modelling students’ social network structure from spatial-temporal network data</i>. <a href="file/3_Nguyen.pdf">Paper</a>, Talk.</li>
                <li><b>Jingjing Zhang & Ming Gao</b>, <i>Tree Structure of Collective Attention Network: Revisiting the Problem of Dropout</i>. <a href="file/4_Zhang.pdf">Paper</a>, <a href="https://www.youtube.com/watch?v=8kjyFIK6XRc">Talk</a>.</li>
                <li><b>Lei Zhang & Xiangdong Chen</b>, <i>The Flow of Books in the Era of Social Media: A case study of a reading group</i>. <a href="file/5_ZhangL.pdf">Paper</a>, <a href="https://www.youtube.com/watch?v=l29Mw0Tt6J0">Talk</a>.</li>
                <li><b>Gunter Maris, Steve Polyak, Michael Yudelson</b>, <i>The ACT Master(y) model for Measurement, Learning and Navigation</i>. <a href="file/6_Maris.pdf">Paper</a>, Talk.</li>
              </ol>
              <h3>Video playlist</h3>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL_MxS9LbgXfpYLBJX9x6UBYDciYZ1FDtv" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
  </aside>
